.animated,
.animated * {
    -webkit-transition: all 300ms ease-in-out;  -moz-transition: all 300ms ease-in-out;  -o-transition: all 300ms ease-in-out;  transition: all 300ms ease-in-out;
}

.animatedSlow,
.animatedSlow * {
    -webkit-transition: all 1s ease-in-out;  -moz-transition: all 1s ease-in-out;  -o-transition: all 1s ease-in-out;  transition: all 1s ease-in-out;
}

.animated1,
.animated1 * {
    -webkit-transition: all 1.3s ease-in-out;  -moz-transition: all 1.3s ease-in-out;  -o-transition: all 1.3s ease-in-out;  transition: all 1.3s ease-in-out;
}

.animated2,
.animated2 * {
    -webkit-transition: all 1.5s ease-in-out;  -moz-transition: all 1.5s ease-in-out;  -o-transition: all 1.5s ease-in-out;  transition: all 1.5s ease-in-out;
}

.d-none-special {
	display: inline-block;
	font-size: 0px;
	overflow: hidden;
	text-indent: -9999999px;
	width: 0px;
	height: 0px;
}


body {
	overflow-x: hidden;
}

header {
    
}
	header.scrolled {
		
	}

footer {

}
    footer * {
        
    }



@media (max-width: 1800px) {

}

@media (max-width: 1600px) {
    
}

@media (max-width: 1400px) {

}

@media (max-width: 1182px) {
    
}

@media (max-width: 1000px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 550px) {
    
}


