* {
    outline: none !important;
}

body {
	
}

img, input, video {
    max-width: 100%;
}

section {
	overflow: hidden;
}

iframe {
	max-width: 100%;
}

form input[type=text],
form input[type=password],
form input[type=email],
form textarea,
form select {
	width: 100%;
	padding: 5px 10px;
}

form .optionset ul {
	list-style: none;
	padding-left: 0px;
}

form .message.validation {
	color: #dc3545;
}

form .hide {
	display: none;
}

form .checkbox {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

form .checkbox label {
	width: 90%;
}

form .checkbox input {
	vertical-align: top;
	margin-top: 6px;
}
form .text label,
form .textarea label {
	color: #006135;
	margin-top: .5rem;
}

.form-group--no-label {
	margin-bottom: 0.25rem;
}


textarea[readonly] {
	background-color: #DDDDDD;
}